.about-container {
  height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.image-container {
  position: relative;
  height: 350px;
  width: 350px;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
}

.image-container::before {
  content: '';
  position: absolute;
  inset: -10px 100px;
  background: linear-gradient(315deg, #00ccff, #0e1538, #0e1538, #d400d4);
  transition: 0.3s;
  animation: animate 4s linear infinite;
}

.image-container:hover::before {
  inset: -20px 0px
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

.image-container::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: #000;
  border-radius: 50%;
  z-index: 1;
}

.image-content {
  position: absolute;
  inset: 20px;
  border: 5px solid #032852c7;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.image-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-about-container {
  width: 39vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-right: 1em;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  text-align: justify;
}

.description-about-container p {
  font-size: 1.2em;
}

.stacks {
  display: flex;
  align-self: center;
  gap: 1vw;
}

.stacks img {
  width: 3vw;
}

.social-media-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media-contents {
  width: 15vw;
  height: 4vw;
  position: relative;
  display: inline-block;
  background: #fff;
  margin: 20px;
  border-radius: 30px;

}

.social-media-contents::before,
.social-media-contents::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  transition: 0.2s;
  border-radius: 30px;
}

.social-media-contents:hover::before {
  inset: -3px;
}

.social-media-contents:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.social-media-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #696767b0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
}

.icon {
  width: 3vw;
}

@media screen and (max-width: 2560px) {

  .image-container {
    height: 550px;
    width: 550px;
  }

  .image-container::after {
    inset: 6px;
  }

  .description-about-container {
    width: 50vw;
  }

  .description-about-container h1 {
    font-size: 3em;
  }

  .description-about-container p {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 2170px) {

  .image-container {
    height: 450px;
    width: 450px;
  }

  .image-container::after {
    inset: 5px;
  }

  .description-about-container {
    width: 48vw;
  }

  .description-about-container h1 {
    font-size: 2em;
  }

  .description-about-container p {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 1650px) {

  .image-container {
    height: 350px;
    width: 350px;
  }

  .image-container::after {
    inset: 3px;
  }

  .description-about-container {
    width: 43vw;
  }

  .description-about-container h1 {
    font-size: 2em;
  }

  .description-about-container p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1245px) {

  .image-container {
    height: 250px;
    width: 250px;
  }

  .image-container::before {
    inset: -10px 60px;
  }

  .description-about-container h1 {
    font-size: 1.7em;
  }

  .description-about-container p {
    font-size: 1em;
  }

  .description-about-container {
    width: 43.1vw;
  }
}

@media screen and (max-width: 768px) {

  .about-container {
    flex-direction: column;
  }

  .image-container {
    height: 200px;
    width: 200px;
  }

  .description-about-container h1 {
    font-size: 1.4em;
  }

  .description-about-container p {
    font-size: 1em;
  }

  .description-about-container {
    width: 80vw;
  }
}

@media screen and (max-width: 630px) {

  .image-container {
    height: 170px;
    width: 170px;
  }

  .image-container::before {
    inset: -10px 30px;
  }

  .description-about-container h1 {
    font-size: 1.4em;
  }

  .description-about-container p {
    font-size: 0.9em;
  }

  .description-about-container {
    width: 75vw;
  }
}

@media screen and (max-width: 530px) {

  .image-container {
    height: 150px;
    width: 150px;
  }

  .image-container::before {
    inset: -10px 30px;
  }

  .description-about-container h1 {
    font-size: 1.2em;
  }

  .description-about-container p {
    font-size: 0.8em;
  }

  .description-about-container {
    width: 72vw;
  }
}

@media screen and (max-width: 375px) {

  .image-container {
    height: 140px;
    width: 140px;
  }

  .image-container::before {
    inset: -10px 40px;
  }

  .description-about-container {
    width: 80vw;
  }
}

@media screen and (max-width: 375px) {

  .image-container {
    height: 120px;
    width: 120px;
  }

  .description-about-container {
    width: 85vw;
  }
}