.contact-container {
  min-height: 100vh;
  color: #fff;
  background: #000;
  display: flex;
  flex-direction: column;
  padding-top: 17vh;
}

.contact-description {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  text-align: center;
}

.contact-description h1 {
  font-size: 1.5em;
}

.contact-description p {
  font-size: .9em;
}

.contact-contents {
  display: flex;
  align-self: center;
  justify-content: center;
}

.contents {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}

.email-content {
  width: 90vw;
  height: 10vh;
  position: relative;
  display: inline-block;
  background: #fff;
  color: #000;
  margin: 10px;
}

.email-content::before,
.email-content::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  transition: 0.2s;
}

.email-content:hover::before {
  inset: -3px;
}

.email-content:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.email {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #696767b0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.email img {
  width: 10vw;
}

.email p {
  font-size: .8em;
  font-weight: 700;
}

.linkedin-content {
  width: 90vw;
  height: 10vh;
  position: relative;
  display: inline-block;
  background: #fff;
  color: #000;
  margin: 10px;
}

.linkedin-content::before,
.linkedin-content::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  transition: 0.2s;
}

.linkedin-content:hover::before {
  inset: -3px;
}

.linkedin-content:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.linkedin {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #696767b0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}

.linkedin img {
  width: 10vw;
}

.linkedin p {
  font-size: .8em;
  font-weight: 700;
}

@media screen and (min-width: 425px) {

  .email p,
  .linkedin p {
    font-size: .9em;
  }
}

@media screen and (min-width: 768px) {

  .contact-description p {
    font-size: 1em;
  }

  .email-content,
  .linkedin-content {
    display: flex;
    align-self: center;
    width: 60vw;
    height: 10vh;
  }

  .email img,
  .linkedin img {
    width: 5vw;
  }

  .email p,
  .linkedin p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {

  .contact-description p {
    font-size: 1.1em;
  }

  .email-content,
  .linkedin-content {
    display: flex;
    align-self: center;
    width: 40vw;
    height: 10vh;
  }

  .email img,
  .linkedin img {
    width: 4vw;
  }
}

@media screen and (min-width: 1440px) {

  .contact-description h1 {
    font-size: 1.7em;
  }

  .contact-description p {
    font-size: 1.2em;
  }

  .email img,
  .linkedin img {
    width: 3vw;
  }

  .email p,
  .linkedin p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 2560px) {

  .contact-description h1 {
    font-size: 3.2em;
  }

  .contact-description p {
    font-size: 2.2em;
  }

  .email img,
  .linkedin img {
    width: 3vw;
  }

  .email p,
  .linkedin p {
    font-size: 2.1em;
  }
}