.portfolio-container {
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-portfolio-container {
  align-self: center;
  width: 39vw;
  padding-right: 1vw;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  text-align: justify;
}

.description-portfolio-container h1 {
  font-size: 1.5em;
}

.description-portfolio-container p {
  font-size: 1.2em;
  margin-top: 5vh;
}

.projects-container {
  margin-top: 10vh;
}

.card {
  width: 20vw;
  height: 40vh;
  background: #6967673b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content img {
  margin-top: 10px;
  width: 15vh;
  filter: drop-shadow(0 0 0.75rem #a000d2);
}

.card-content h3 {
  font-size: 1.4em;
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

.button-content {
  position: relative;
  width: 120px;
  height: 40px;
  display: inline-block;
  background: #fff;
  margin: 20px;
}

.button-content::before,
.button-content::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  transition: 0.2s;
}

.button-content:hover::before {
  inset: -3px;
}

.button-content:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.button-content button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #000;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}