.portfolio-container {
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 22vh;
  gap: 5vh;
}

.description-portfolio-container {
  align-self: center;
  width: 90vw;
  text-align: justify;
}

.description-portfolio {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.description-portfolio h1 {
  padding-right: 1em;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}

.projects-container {
  margin-top: 3vh;
}

.card {
  width: 60vw;
  height: 46vh;
  background: #6967673b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content img {
  padding-top: 20px;
  width: 15vh;
  filter: drop-shadow(0 0 0.75rem #a000d2);
}

.card-content h3 {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

.button-content {
  position: relative;
  width: 30vw;
  height: 8vh;
  display: inline-block;
  background: #fff;
  margin: 20px;
}

.button-content button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #000;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  font-size: .9em;
}

@media screen and (min-width: 768px) {
  .description-portfolio-container {
    text-align: center;
    padding: 0;
  }

  .projects-container {
    margin-top: 7vh;
  }

  .card {
    width: 27vw;
    height: 46vh;
  }

  .card-content img {
    width: 15vh;
  }

  .card-content h3 {
    font-size: 1.1em;
    padding: 1vw;
  }

  .button-content {
    width: 15vw;
    height: 8vh;
    margin-bottom: 5vh;
  }

  .button-content button {
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .description-portfolio p {
    font-size: 1.1em;
  }

  .card {
    width: 20vw;
    height: 50vh;
  }

  .card-content h3 {
    font-size: 1.2em;
  }

  .button-content::before,
  .button-content::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
    transition: 0.2s;
  }

  .button-content:hover::before {
    inset: -3px;
  }

  .button-content:hover::after {
    inset: -3px;
    filter: blur(10px);
  }

  .button-content button {
    font-size: 1em;
    cursor: pointer;
  }
}

@media screen and (min-width: 1440px) {
  .description-portfolio h1 {
    font-size: 1.8em;
  }

  .description-portfolio-container p {
    font-size: 1.5em;
  }

  .card {
    width: 18vw;
    height: 50vh;
  }

  .card-content h3 {
    font-size: 1.5em;
  }

  .button-content button {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 2560px) {
  .description-portfolio h1 {
    font-size: 3.2em;
  }

  .description-portfolio-container p {
    font-size: 2.2em;
  }

  .card {
    width: 18vw;
    height: 50vh;
  }

  .card-content h3 {
    font-size: 2.5em;
  }

  .button-content button {
    font-size: 1.8em;
    cursor: pointer;
  }
}