.container {
  min-height: 100vh;
  background-color: #000;
  padding: 30vh 5vw 0 5vw;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.presentation-container {
  display: flex;
  justify-content: center;
}

.heading-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-right: 1em;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  gap: 1em;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 5px white;
  animation: moveline 8s linear infinite;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.content {
  padding: 10px 30px;
  position: relative;
}

.right-content .dot,
.left-content .dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  left: -6px;
  top: 32px;
  z-index: 5;
  border: 1px solid #fff;
  box-shadow: 0 0 5px white;
}

.text-box {
  padding: 20px 30px;
  width: 80vw;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: .7em;
  color: #000;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.text-box h3 {
  font-weight: 600;
  text-align: left;
  font-size: 1.5em;
}

.text-box small {
  font-size: .9em;
}

.right-container-arrow,
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 17px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

@media screen and (min-width: 425px) {
  .text-box {
    font-size: .85em;
  }

  .text-box small {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .text-box {
    font-size: .9em;
  }
}

@media screen and (min-width: 1024px) {

  .heading-container {
    width: fit-content;
  }

  .heading-container p {
    font-size: 1.1em;
  }

  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .timeline::after {
    width: 3px;
    left: 50%;
  }

  .content {
    position: relative;
    width: 50%;
    top: 8vh;
  }

  .text-box {
    width: 100%;
  }

  .right-content {
    left: 50%;
  }

  .left-content {
    left: 0;
  }

  .left-content .dot {
    width: 20px;
    height: 20px;
    background: #fff;
    left: auto;
    right: -13px;
  }

  .right-content .dot {
    width: 20px;
    height: 20px;
    background: #fff;
    left: -9px;
  }

  .left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 17px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    border-right: 0;
    left: auto;
    right: -15px;
  }
}

@media screen and (min-width: 1440px) {
  .heading-container h1 {
    font-size: 1.7em;
  }

  .heading-container p {
    font-size: 1.2em;
  }

  .text-box p {
    font-size: 1.1em;
  }

  .left-content .dot {
    right: -12px;
  }

  .right-content .dot {
    left: -8px;
  }
}

@media screen and (min-width: 2560px) {
  .heading-container h1 {
    font-size: 3.2em;
  }

  .heading-container p {
    font-size: 2.2em;
  }

  .content {
    padding: 20px 50px;
  }

  .text-box h3 {
    font-size: 2.2em;
  }

  .text-box small {
    font-size: 1.8em;
  }

  .text-box p {
    font-size: 1.8em;
  }

  .left-content .dot {
    right: -17px;
    width: 30px;
    height: 30px;
  }

  .right-content .dot {
    left: -13px;
    width: 30px;
    height: 30px;
  }
}