.header {
  display: flex;
  justify-content: flex-end;
  background: #000000cc;
  height: 12vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
}

.hamburger {
  display: block;
  margin-top: 1%;
  margin-right: 5%;
  background: none;
  border: none;
}

.line {
  width: 40px;
  height: 3px;
  background: #fff;
  margin: 8px 0;
}

.navbar-container {
  position: absolute;
  top: 12vh;
  left: 0;
  right: 0;
  width: 100vw;
  height: 0;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.item-list {
  text-align: center;
  font-size: 1.2em;
  padding: 1vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  background: none;
}

.active {
  height: 42vh;
  background: #000000d7;
}

.active .menu {
  opacity: 1;
}

@media screen and (min-width: 426px) {
  .header {
    background: #000;
  }

  .hamburger {
    display: none;
    border: none;
    background: none;
  }

  .navbar-container {
    top: 5vh;
    height: 10vh;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
  }

  .item-list {
    font-size: 0.8em;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {

  .item-list {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1440px) {

  .item-list {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 2560px) {

  .item-list {
    font-size: 2.5em;
  }
}