.hamburguer {
  display: none;
  border: none;
  background: none;
}

.navbar-container {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 10vh;
  background: rgba(0, 0, 0, 0.95);
}

.menu li {
  font-size: 1.2em;
  text-align: center;
  width: 12vw;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.menu li:hover {
  text-shadow: 0 0 5px #a100d2;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 2560px) {

  .navbar-container {
    font-size: 2em;
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) {

  .navbar-container {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1024px) {

  .navbar-container {
    font-size: 1em;
  }
}

@media screen and (max-width: 630px) {

  .navbar-container {
    font-size: 0.8em;
  }

}

@media screen and (max-width: 530px) {

  .navbar-container {
    font-size: 0.7em;
  }

}

@media screen and (max-width: 425px) {

  .header {
    display: flex;
    justify-content: flex-end;
    background: #03242dd2;
    height: 15vh;
  }

  .hamburguer {
    display: block;
    cursor: pointer;
    margin-top: 3%;
    margin-right: 5%;
  }

  .hamburguer .line {
    width: 40px;
    height: 3px;
    background: #fff;
    margin: 8px 0;
  }

  .menu {
    background: none;
  }

  .navbar-container {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
  }

  .menu {
    display: block;
    width: fit-content;
    margin: 5px auto 0 auto;
    opacity: 0;
  }

  .menu li {
    font-size: 2em;
    text-align: center;
    margin: 0 0 10px 0;
  }

  .navbar-container.active {
    height: 45vh;
    background: #03242dd2;
  }

  .navbar-container.active .menu {
    opacity: 1;
  }

}