.popup-container {
  position: absolute;
  z-index: 3;
  padding: 13vh 5vw 13vh 5vw;
  background: #000;
}

.popup-contents {
  position: relative;
}

.close-button-container {
  position: absolute;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #fff;
  margin: 20px;
  right: 35vw;
  bottom: -14vh;
  border-radius: 50%;
}

.close-button-container::before,
.close-button-container::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  transition: 0.2s;
  border-radius: 50%;
}

.close-button-container:hover::before {
  inset: -3px;
}

.close-button-container:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.close-button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #000;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 43%;
}

.close-button img {
  width: 40%;
}

.popup-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-heading h1 {
  padding-bottom: 2vh;
  font-size: 1.em;
  text-decoration: underline;
}

.popup-heading p {
  width: 90%;
  text-align: justify;
  line-height: 5vh;
  font-size: .8em;
}

.popup-links-container {
  margin-top: 7vh;
}

.link-repository,
.link-github-pages {
  width: 35vw;
  height: 7vh;
  position: relative;
  display: inline-block;
  background: #fff;
  margin: 5px;
  border-radius: 50px;
}

.link-repository::before,
.link-repository::after,
.link-github-pages::before,
.link-github-pages::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
  transition: 0.2s;
  border-radius: 50px;
}


.link-repository:hover::before,
.link-github-pages:hover::before {
  inset: -3px;
}

.link-repository:hover::after,
.link-github-pages:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.link-repository a,
.link-github-pages a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #696767b0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
}

@media screen and (min-width: 425px) {
  .popup-contents p {
    font-size: 1em;
  }

  .close-button-container {
    right: 37vw;
    bottom: -14vh;
  }
}

@media screen and (min-width: 768px) {
  .popup-contents p {
    font-size: .9em;
  }

  .close-button-container {
    right: 0vw;
    top: -5vh;
  }
}

@media screen and (min-width: 1024px) {
  .popup-contents p {
    font-size: 1.1em;
    line-height: 6vh;
  }

  .close-button-container {
    right: 0vw;
    top: -5vh;
  }

  .link-repository,
  .link-github-pages {
    width: 17vw;
    height: 9vh;
  }

  .link-repository a img,
  .link-github-pages a img {
    width: 3vw;
  }
}

@media screen and (min-width: 1440px) {
  .popup-contents {
    gap: 8vh;
  }

  .popup-contents h1 {
    font-size: 1.7em;
    line-height: 6vh;
  }

  .popup-contents p {
    font-size: 1.2em;
    line-height: 6vh;
  }

  .close-button-container {
    right: 0vw;
    top: -5vh;
  }

  .link-repository a img,
  .link-github-pages a img {
    width: 3vw;
  }
}

@media screen and (min-width: 2560px) {
  .popup-contents h1 {
    font-size: 3.2em;
    line-height: 6vh;
  }

  .popup-contents p {
    font-size: 2.2em;
    line-height: 8vh;
  }

  .close-button-container {
    right: 0vw;
    top: -5vh;
  }

  .link-repository,
  .link-github-pages {
    width: 15vw;
    height: 10vh;
    margin-left: 3vw;
    border-radius: 50px;
  }

  .link-repository::before,
  .link-repository::after,
  .link-github-pages::before,
  .link-github-pages::after {
    border-radius: 50px;
  }

  .link-repository a,
  .link-github-pages a {
    border-radius: 50px;
  }

  .close-button-container {
    width: 70px;
    height: 70px;
  }
}